page-clearance {
    
    ion-list-header
    {
        color: #333333 !important;
    }
    
    ion-select {
        color: #c8c8c8;
    }
    
    .no-padding {
        padding: 0;
        margin: 0;
    }
    
}
