page-duke {
    
    ion-item, button[type="submit"]
    {
        margin-left: 5% !important;
    }
    ion-item
    {
        width: 90% !important;
    }
    
    #item_description
    {
        margin-left: 5%;
        margin-right: 5%;
    }
}
