page-conditions {
    
    ion-title
    {
        width: 100% !important;
    }
    
    p
    {
        vertical-align: middle !important;
    }
    
    h1
    {
        font-size: 150% !important;
    }
    
    h2
    {
        font-size: 130% !important;
    }
    
}
