<!--
  Generated template for the DiastolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle>
            <ion-icon color="primary" name="menu"></ion-icon>
        </button>
        <ion-title>Fonction diastolique</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
	
	<form (ngSubmit)="display();">
        
        <ion-list no-lines>
			
			<ion-item>
				<ion-label color="dark">FEVG > 50 %</ion-label>
				<ion-toggle color="secondary" name="normalLVEF" [(ngModel)]="normalLVEF"></ion-toggle>
			</ion-item>
			<ion-item>
				<ion-label color="dark">Arythmie atriale</ion-label>
				<ion-toggle color="secondary" name="atrialFibrillation" [(ngModel)]="atrialFibrillation"></ion-toggle>
			</ion-item>
			
			<div *ngIf="atrialFibrillation" text-center class="results">
				<p>
					L'évaluation des pressions de remplissage par cet algorithme n'est possible qu'en rythme sinusal.
				</p>
			</div>
			
			<div *ngIf="!atrialFibrillation">
				
				<ion-item>
					<ion-label color="dark">Onde E mitrale</ion-label>
					<ion-input type="number" placeholder="(cm/s)" name="mitralEwave" [(ngModel)]="mitralEwave"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="dark">Onde A mitrale</ion-label>
					<ion-input type="number" placeholder="(cm/s)" name="mitralAwave" [(ngModel)]="mitralAwave"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="dark">Onde e' septale</ion-label>
					<ion-input type="number" placeholder="(cm/s)" name="septalEa" [(ngModel)]="septalEa"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="dark">Onde e' latérale</ion-label>
					<ion-input type="number" placeholder="(cm/s)" name="lateralEa" [(ngModel)]="lateralEa"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="dark">Insuffisance tricuspide ?</ion-label>
					<ion-toggle color="secondary" name="tricRegMeasured" [(ngModel)]="tricRegMeasured"></ion-toggle>
				</ion-item>
				<ion-item *ngIf="tricRegMeasured">
					<ion-label color="dark">V<sub>max</sub> insuff. tricuspide</ion-label>
					<ion-input type="number" placeholder="(m/s)" name="tricRegVelocity" [(ngModel)]="tricRegVelocity"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label color="dark">Volume OG indexé ?</ion-label>
					<ion-toggle color="secondary" name="indexedLAvolume" [(ngModel)]="indexedLAvolume"></ion-toggle>
				</ion-item>
				<ion-item *ngIf="indexedLAvolume">
					<ion-label color="dark">Volume OG</ion-label>
					<ion-input type="number" placeholder="(mL/m²)" name="leftAtriumVolume" [(ngModel)]="leftAtriumVolume"></ion-input>
				</ion-item>
				<ion-item *ngIf="!indexedLAvolume">
					<ion-label color="dark">Volume OG</ion-label>
					<ion-input type="number" placeholder="(mL)" name="leftAtriumVolume" [(ngModel)]="leftAtriumVolume"></ion-input>
				</ion-item>
				<ion-item *ngIf="!indexedLAvolume">
					<ion-label color="dark">Taille</ion-label>
					<ion-input type="number" placeholder="(cm)" name="height" [(ngModel)]="height"></ion-input>
				</ion-item>
				<ion-item *ngIf="!indexedLAvolume">
					<ion-label color="dark">Poids</ion-label>
					<ion-input type="number" placeholder="(kg)" name="weight" [(ngModel)]="weight"></ion-input>
				</ion-item>
				
			</div>
			
		</ion-list>
        
        <button ion-button type="submit">CALCULER</button>
		
	</form>
    
    <div id="item_description">
        
        <p>
            Evaluation de la fonction diastolique et des pressions de remplissage du ventricule gauche en échocardiographie transthoracique au repos selon les recommandations internationales. L'algorithme n'est valable qu'en rythme sinusal, en absence de cardiopathie hypertrophique, restrictive, ou valvulaire, et en absence de bloc atrio-ventriculaire.
        </p>
        <p id="item_source">
            Source :
            <a href="https://doi.org/10.1016/j.echo.2016.01.011">
                Recommendations for the Evaluation of Left Ventricular Diastolic Function by Echocardiography.
                Nagueh SF, et al. Journal of American Society of Echocardiography, 2016;29(4):277-314.
            </a>
        </p>
        
    </div>
	
</ion-content>
