<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-buttons end>
                <button ion-button menuClose icon-only (click)="openPage(aboutPage)">
                    <ion-icon color="primary" ios="ios-information-circle-outline" md="ios-information-circle-outline"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title item-start>Menu</ion-title>
        </ion-toolbar>
        <ion-toolbar>
            <ion-searchbar mode="ios" (ionInput)="getItems($event)"></ion-searchbar>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
		
		<ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Rythmologie</ion-list-header>
	        <button menuClose ion-item *ngFor="let rythmology_score of rythmology_scores" (click)="openPage(rythmology_score)">
	            {{rythmology_score.title}}
	        </button>
	    </ion-list>
		
	    <ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Insuffisance cardiaque & HTAP</ion-list-header>
	        <button menuClose ion-item *ngFor="let heartFailure_score of heartFailure_scores" (click)="openPage(heartFailure_score)">
	            {{heartFailure_score.title}}
	        </button>
	    </ion-list>
		
	    <ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Chirurgie cardiaque</ion-list-header>
	        <button menuClose ion-item *ngFor="let surgery_score of surgery_scores" (click)="openPage(surgery_score)">
	            {{surgery_score.title}}
	        </button>
	    </ion-list>
		
	    <ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Embolie pulmonaire</ion-list-header>
	        <button menuClose ion-item *ngFor="let embolism_score of embolism_scores" (click)="openPage(embolism_score)">
	            {{embolism_score.title}}
	        </button>
	    </ion-list>
		
	    <ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Endocardite infectieuse</ion-list-header>
	        <button menuClose ion-item *ngFor="let infection_score of infection_scores" (click)="openPage(infection_score)">
	            {{infection_score.title}}
	        </button>
	    </ion-list>
	    
	    <ion-list class="menu-list">
	        <ion-list-header mode="ios" class="menu-list-header">Calculs</ion-list-header>
	        <button menuClose ion-item *ngFor="let calcul of calculs" (click)="openPage(calcul)">
	            {{calcul.title}}
	        </button>
	    </ion-list>
		
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
